{% extends "layout.njk" %}

{% block title %}
    <h1>{{title}}</h1>
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="https://www.speedpatterns.com{{og_image}}">
    <meta property="og:site_name" content="Speed Patterns">
{% endblock %}