<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Grab title from the page data and dump it here -->
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/assets/favicon.png" type="image/png"/>

    </head>
    <body>

        <nav>
            <a href="/">Speed Patterns</a>
        </nav>
        <!-- Grab the content from the page data, dump it here, and mark it as safe -->
        <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
        {{ content | safe }}
    </body>
</html>