<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/theme/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/theme/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="icon" href="/assets/favicon.png" type="image/png"/>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% seo %}

  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

          <h3>Links</h3>
          <ul>
            <li><a href="https://github.com/Speed-Patterns/speed-patterns">Our repo on GitHub</a></li>
            <li><a href="https://github.com/Speed-Patterns/speed-patterns/blob/master/CONTRIBUTING.md">Contribution Guide</a></li>
            <li><a href="https://github.com/Speed-Patterns/speed-patterns/issues">Issue tracker</a></li>
          </ul>

          <h3>Sister sites</h3>
          <p>Some sites to help you with your preforamance adventure:</p>
          <ul>
            <li><a href="https://wpostats.com/">WPO Stats</a> - collection of useful white papers with effect of speed on business KPIs</li>
            <li><a href="https://whatdoesmysitecost.com/">What Does My Site Cost?</a> - tool to estimate the cost for the user loading your pages</li>
            <li><a href="http://www.slownesskills.com/">Slowness Kills</a> - helps your motivation if money is not enough of the motivator</li>
          </ul>

          <h3>Even more links</h3>
          <ul>
            <li><a href="http://www.perfplanet.com/">PerfPlanet</a> - blog aggregator from performance-related bloggers</li>
            <li><a href="http://calendar.perfplanet.com/">PerfPlanet Calendar</a> - collection of articles about web performance in PerfPlanet's advent calendars for almost a decade</li>
            <li><a href="https://www.pinterest.com/perfplanet/">PerfPlanet Pinterest</a> - collection of books, inforgraphics and other speed-related info</li>
            <li><a href="http://www.webpagetest.org/">WebPageTest</a> - best tool for performance analysis</li>
          </ul>

          <h3>Contributors</h3>
          <ul>
            <li><a href="https://www.sergeychernyshev.com/">Sergey Chernyshev</a></li>
            <li>... add your name <a href="https://github.com/Speed-Patterns/speed-patterns/blob/master/CONTRIBUTING.md">here</a></li>
          </ul>

          <h3>Attribution</h3>
          <ul>
            <li>Design is based on <a href="https://github.com/pages-themes/architect">Architech theme</a> for <a href="https://jekyllrb.com/">Jekyll</a></li>
          </ul>
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
