---
layout: layout.njk
title: Speed Patterns
id: homepage
---
<p>Speed is a major contributor to user experience on modern web sites.</p>

<p>It is important to pay attention not only to technologies that said experiences are build with, but to the way they are designed as well.</p>

<p>Proper speed design is a collaboration between product managers, UI designers and developers as all the aspects of the page composition must be balanced to achieve fast experience that is useful for end-users and deliver on the goals set by creators of the site.</p>

<p>Below is the list of common speed design problems and their design solutions. We try not to concentrate on specific technical implementations or specific types of sites so it can be used in any context.</p>

{% for post in collections.pattern %}

    <h2>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>

{% endfor %}

<h2>Contributing</h2>
<p>Help us add more patterns!</p>

<p>Submit new patterns to the issue tracker, help existing submissions by collecting articles and examples of implementation.</p>

<p>See <a href="https://github.com/Speed-Patterns/speed-patterns/blob/master/CONTRIBUTING.md">Contribution Guide</a> on our <a href="https://github.com/Speed-Patterns/speed-patterns">GitHub repo</a>.</p>